@media screen and (max-width:900px){
	.desktop{
		display: none;
	}
	.mobile{
		display: flex;
		background-color: transparent;
		margin: 0px 20px;
	}

	.mobile option{
	
		background-color: black;
		
	}
	header .container:nth-child(2) a{
		font-size: 14px;
		margin-right: 5px;
	}
}